<div class="row">
  <div class="col-m-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <img class="mx-auto d-blocK img-responsive" style="width:200px" src="../../assets/images/kid.jpg" alt="">
        <h1 class="text-center">Register</h1>
         <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">email</label>
              <input type="email" 
              class="form-control"
              [(ngModel)]="email"
              name="email"
              required
              >
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" 
                class="form-control"
                [(ngModel)]="password"
                name="password"
                required
                >
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="submit">
         </form>
      </div>
    </div>
  </div>
</div>
